Package: com.imkpatil.ezswipe
Name: EZSwipe
Depends: mobilesubstrate
Version: 1.1.1
Architecture: iphoneos-arm
Description: Give your hand a rest by using gestures instead!
Maintainer: P2KDev <p2kdev@gmail.com>
Author: P2KDev <p2kdev@gmail.com>
Section: Tweaks
Icon: file:///Library/Application Support/EZSwipe/icon.png
